body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #1e1e2f, #ff7b00);
  color: white;
  text-align: center;
}

/* HERO */
.hero {
  padding: 80px 20px;
  animation: fadeIn 2s ease-in;
}

.hero h1 {
  font-size: 40px;
  animation: bounce 2s infinite;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s;
}

button:hover {
  background: orange;
  transform: scale(1.1);
}

/* FORM */
.form-container {
  background: white;
  color: black;
  padding: 30px;
  margin: 40px auto;
  width: 300px;
  border-radius: 15px;
  animation: slideUp 1.5s ease;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {transform: translateY(100px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes bounce {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}